<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX Playaround</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.4"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Hello World!</h1>

    <div id="parent-div">
      <!-- hx-post="https://htmx-playground-eight.vercel.app/api" -->
      <button
        hx-get="/api"
        hx-trigger="click"
        hx-target="#parent-div"
        hx-swap="innerHTML"
      >
        Click Me!
      </button>
    </div>
  </body>
</html>
